<app-sidebar>
  <mat-card class="welcome-container">
    <mat-card-content class="">
      <div class="welcome-content">
        <h1>{{ title }}</h1>
      </div>
 
      <div class="image-container">
        <div class="image-item">
          <span class="span">ROMPECABEZAS</span>
          <img src="assets/img/puzzle.jpg" alt="" class="small-image" routerLink="/puzzleSettings">
        </div>
        <div class="image-item">
          <span class="span">MEMORIA</span>
          <img src="assets/img/memory.png" alt="" class="small-image" routerLink="/memorySettings">
        </div>
        <div class="image-item">
          <span class="span">ADIVINA LA PALABRA OCULTA</span>
          <img src="assets/img/words.png" alt="" class="small-image" routerLink="/riddleSettings">
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</app-sidebar>
