<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav-bar">
    <mat-toolbar class="sidenav">
      <span>Administrador</span>
    </mat-toolbar>

    <mat-nav-list>
      <button mat-button class="menu-button" routerLink="/main">
        <mat-icon>person</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-button class="menu-button" routerLink="/firstGrade">
        <mat-icon>person_add</mat-icon>
        <span>Primer Grado</span>
      </button>
      <button mat-button class="menu-button" routerLink="/secondGrade">
        <mat-icon>person_add</mat-icon>
        <span>Segundo Grado</span>
      </button>
      <button mat-button class="menu-button" routerLink="/thirdGrade">
        <mat-icon>person_add</mat-icon>
        <span>Tercer Grado</span>
      </button>
      <button mat-button class="menu-button" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Juegos</span>
      </button>
      <button mat-button class="menu-button" routerLink="/progress">
        <mat-icon>timeline</mat-icon>
        <span>Progreso</span>
      </button>
       <button mat-button class="menu-button" routerLink="/chart">
        <mat-icon>bar_chart</mat-icon>
        <span>Gráficas</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-card class="welcome-container">
      <mat-card-content>
        <div class="welcome-content">
          <h2>Progreso General</h2>
          <button mat-raised-button color="primary" (click)="generateReportPdf()" class="generate-pdf-button">
            <mat-icon>picture_as_pdf</mat-icon>
            Generar Reporte
          </button>
        </div>

        <mat-card class="settings-card">
          <div class="table-responsive">
            <mat-tab-group>
              <mat-tab label="ROMPECABEZAS">
                <table mat-table [dataSource]="studentProgressData" class="table table-striped table-bordered mat-elevation-z8" *ngIf="!loading">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let student"> {{ student.name }} </td>
                  </ng-container>

                  <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let student"> {{ student.lastname }} </td>
                  </ng-container>

                  <ng-container matColumnDef="grade">
                    <th mat-header-cell *matHeaderCellDef> Grado </th>
                    <td mat-cell *matCellDef="let student">
                      {{
                        student.grade === 'first' ? 'Primer grado' :
                        student.grade === 'second' ? 'Segundo grado' :
                        student.grade === 'third' ? 'Tercer grado' :
                        student.grade || 'No definido'
                      }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="level_name">
                    <th mat-header-cell *matHeaderCellDef> Nivel </th>
                    <td mat-cell *matCellDef="let student">
                      {{ student.latestPuzzleResult?.level_name ?? '0' }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Puntaje </th>
                    <td mat-cell *matCellDef="let student">
                      {{ student.latestPuzzleResult?.score ?? '0' }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Tiempo (segundos) </th>
                    <td mat-cell *matCellDef="let student">
                      {{ student.latestPuzzleResult?.time ?? '0' }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let student">
                      <button mat-icon-button color="primary" 
                              (click)="viewStudentProgress(student.id, student.name + ' ' + student.lastname)"
                              matTooltip="Ver Progreso">
                        <mat-icon>timeline</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="6" showFirstLastButtons></mat-paginator>

                <p *ngIf="loading">Cargando datos...</p>
                <p *ngIf="error">{{ error }}</p>
              </mat-tab>

              <mat-tab label="MEMORIA">
                <table mat-table [dataSource]="memoryResultsData" class="table table-striped table-bordered mat-elevation-z8" *ngIf="!loadingMemoryResults">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let result"> {{ result.name }} </td>
                  </ng-container>

                  <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let result"> {{ result.lastname }} </td>
                  </ng-container>

                  <ng-container matColumnDef="grade">
                    <th mat-header-cell *matHeaderCellDef> Grado </th>
                    <td mat-cell *matCellDef="let result">
                      {{
                        result.grade === 'first' ? 'Primer grado' :
                        result.grade === 'second' ? 'Segundo grado' :
                        result.grade === 'third' ? 'Tercer grado' :
                        result.grade || 'No definido'
                      }}
                    </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="level_name">
                    <th mat-header-cell *matHeaderCellDef> Nivel </th>
                    <td mat-cell *matCellDef="let result"> {{ result.level_name ?? 'N/A' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Puntaje </th>
                    <td mat-cell *matCellDef="let result"> {{ result.score ?? '0' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="elapsedTime">
                    <th mat-header-cell *matHeaderCellDef> Tiempo (segundos) </th>
                    <td mat-cell *matCellDef="let result"> {{ result.elapsedTime ?? '0' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="totalPairs">
                    <th mat-header-cell *matHeaderCellDef> Total Pares </th>
                    <td mat-cell *matCellDef="let result"> {{ result.totalPairs ?? '0' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="intentRemaining">
                    <th mat-header-cell *matHeaderCellDef> Intentos Restantes </th>
                    <td mat-cell *matCellDef="let result"> {{ result.intentRemaining ?? '0' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let result">
                      <button mat-icon-button color="primary" 
                              (click)="viewStudentProgress(result.id, result.name + ' ' + result.lastname)"
                              matTooltip="Ver Progreso">
                        <mat-icon>timeline</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedMemoryColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedMemoryColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="6" showFirstLastButtons #memoryPaginator></mat-paginator>

                <p *ngIf="loadingMemoryResults">Cargando datos de memoria...</p>
                <p *ngIf="errorMemoryResults">{{ errorMemoryResults }}</p>
              </mat-tab>

              <mat-tab label="ADIVINA LA PALABRA OCULTA">
                <table mat-table [dataSource]="riddleResultsData" class="table table-striped table-bordered mat-elevation-z8" *ngIf="!loadingRiddleResults">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let result"> {{ result.name }} </td>
                  </ng-container>

                  <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let result"> {{ result.lastname }} </td>
                  </ng-container>

                  <ng-container matColumnDef="grade">
                    <th mat-header-cell *matHeaderCellDef> Grado </th>
                    <td mat-cell *matCellDef="let result">
                      {{
                        result.grade === 'first' ? 'Primer grado' :
                        result.grade === 'second' ? 'Segundo grado' :
                        result.grade === 'third' ? 'Tercer grado' :
                        result.grade || 'No definido'
                      }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="level_name">
                    <th mat-header-cell *matHeaderCellDef> Nivel </th>
                    <td mat-cell *matCellDef="let result"> {{ result.level_name ?? 'N/A' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Puntaje </th>
                    <td mat-cell *matCellDef="let result"> {{ result.score ?? '0' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="time_taken">
                    <th mat-header-cell *matHeaderCellDef> Tiempo (segundos) </th>
                    <td mat-cell *matCellDef="let result"> {{ result.time_taken ?? '0' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="words_guessed">
                    <th mat-header-cell *matHeaderCellDef> Palabras Adivinadas </th>
                    <td mat-cell *matCellDef="let result"> {{ result.words_guessed ?? '0' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let result">
                      <button mat-icon-button color="primary" 
                              (click)="viewStudentProgress(result.id, result.name + ' ' + result.lastname)"
                              matTooltip="Ver Progreso">
                        <mat-icon>timeline</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedRiddleColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedRiddleColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="6" showFirstLastButtons #riddlePaginator></mat-paginator>

                <p *ngIf="loadingRiddleResults">Cargando datos de "Adivina la Palabra Oculta"...</p>
                <p *ngIf="errorRiddleResults">{{ errorRiddleResults }}</p>
              </mat-tab>

            </mat-tab-group>
          </div>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <!-- Modal de Progreso Individual -->
    <div class="progress-modal" *ngIf="showProgressModal">
      <div class="modal-overlay" (click)="closeProgressModal()"></div>
      <div class="modal-content">
        <div class="modal-header">
          <h3>Progreso de {{ selectedStudentName }}</h3>
          <button mat-icon-button (click)="closeProgressModal()" class="close-button">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        
        <div class="modal-body">
          <div *ngIf="loadingProgressData" class="loading-container">
            <mat-spinner></mat-spinner>
            <p>Cargando datos de progreso...</p>
          </div>

          <div *ngIf="!loadingProgressData" class="progress-content">
            <!-- Gráfico de Progreso -->
            <div class="chart-container">
              <h4>Progreso Temporal</h4>
              <div class="chart-wrapper">
                <canvas #progressChart></canvas>
              </div>
            </div>

            <!-- Resumen de Estadísticas -->
            <div class="stats-summary">
              <div class="stat-card">
                <h5>Puzzle</h5>
                <div class="stat-item">
                  <span class="label">Total Juegos:</span>
                  <span class="value">{{ progressData.puzzle.length }}</span>
                </div>
                <div class="stat-item">
                  <span class="label">Mejor Puntaje:</span>
                  <span class="value">{{ getBestScore(progressData.puzzle, 'score') }}</span>
                </div>
                <div class="stat-item">
                  <span class="label">Promedio:</span>
                  <span class="value">{{ getAverageScore(progressData.puzzle, 'score') | number:'1.0-1' }}</span>
                </div>
              </div>

              <div class="stat-card">
                <h5>Memoria</h5>
                <div class="stat-item">
                  <span class="label">Total Juegos:</span>
                  <span class="value">{{ progressData.memory.length }}</span>
                </div>
                <div class="stat-item">
                  <span class="label">Mejor Puntaje:</span>
                  <span class="value">{{ getBestScore(progressData.memory, 'score') }}</span>
                </div>
                <div class="stat-item">
                  <span class="label">Promedio Pares:</span>
                  <span class="value">{{ getAverageScore(progressData.memory, 'totalPairs') | number:'1.0-1' }}</span>
                </div>
              </div>

              <div class="stat-card">
                <h5>Riddle</h5>
                <div class="stat-item">
                  <span class="label">Total Juegos:</span>
                  <span class="value">{{ progressData.riddle.length }}</span>
                </div>
                <div class="stat-item">
                  <span class="label">Mejor Puntaje:</span>
                  <span class="value">{{ getBestScore(progressData.riddle, 'score') }}</span>
                </div>
                <div class="stat-item">
                  <span class="label">Promedio:</span>
                  <span class="value">{{ getAverageScore(progressData.riddle, 'score') | number:'1.0-1' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>