.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(128, 128, 128, 0.419);
  width: 100%;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.83);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px; /* Ancho del formulario */
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #404040; /* Color del título */
}

.input-group {
  margin-bottom: 15px; 
  position: relative; 
}

.input-group input {
  width: 100%; 
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  height: 40px; 
  font-size: 16px; 
}

.password-input-wrapper {
  position: relative; 
  display: flex; 
  align-items: center; 
  width: 100%; 
}

.password-input-wrapper input {
  padding-right: 40px; 
}


.password-toggle-icon {
  position: absolute;
  right: 12px; 
  cursor: pointer;
  color: #888;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%); 
  z-index: 2; /* Asegura que esté por encima del input */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555; /* Color de las etiquetas */
  
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.login-button {
  flex: 1;
  padding: 10px;
  background: linear-gradient(to right, #4563f8, #0799f4);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.back-button {
  flex: 1;
  padding: 10px;
  background: linear-gradient(to right, #6c757d, #495057);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.login-box button:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: #f33d4f; 
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}