.container {
  background: rgba(128, 128, 128, 0.402);
}

.sidenav {
  background-color: #9fd3f3d9;
  border-radius: 0px;
}

.sidenav-bar {
  width: 200px;
  margin: 16px;
  border-right: none;
  border-radius: 10px;
  background-color: #f0f8ff;
}

.menu-header-content {
  display: flex; /* Convierte el contenedor en un flex container */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  gap: 10px; /* Agrega un espacio entre el logo y el texto */
  padding: 0 8px; /* Ajusta el padding para que no se vea pegado a los bordes */
}

.logo-sidebar {
  height: 60px; /* Establece una altura para el logo. Ajusta según tus necesidades */
  width: auto; /* Mantiene la proporción */
}

.menu-text {
  font-size: 1.2em; /* Puedes ajustar el tamaño de la fuente del texto */
}


.content {
  padding: 16.5px; /* propiedad para el espacio de los contenedores */
}

.menu-button{
  width: 100%;
  margin-right: 8px;
  display: flex;
  font-size: 1rem;
  justify-content: flex-start;
}
  
.welcome-card{
  background-color: #f0f8ff;
}

.welcome-container {
  height: calc(100vh - 65px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 20px;
  display: flex;
  background-color: #f0f8ff;
}
  
  .welcome-content h2 {
    font-size: 2.5em; 
    color: #3f51b5; 
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; 
  }
  
  .welcome-content p {
    font-size: 1.1em; /* Tamaño del texto */
    color: #333; /* Color del texto */
    line-height: 1.6;
    font-family: 'Verdana', sans-serif; /* Fuente del texto */
    text-align: center;
  }
  
  .welcome-image {
    width: 550px; /* Tamaño del GIF */
    height: auto;
    display: block;
    margin: 30px auto; /* Centrar el GIF */
  }

  