<app-sidebar>
  <ng-container >
    <div class="welcome-container">
      <mat-card class="welcome-card">
        <mat-card-content>
          <div class="welcome-content">
            <h2>¡Bienvenido, Docente!</h2>
            <p>
              Gracias por el esfuerzo y dedicación. Aquí encontrarás las herramientas
              para gestionar el contenido de tus clases de manera interactiva, y mantener la motivación de los estudiantes.
            </p>
            <img src="assets/gif/welcome.gif" alt="Animación de bienvenida" class="welcome-image" />
            <p>
              Navega por el menú lateral para acceder a las diferentes secciones.
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <router-outlet></router-outlet>
</app-sidebar>