<audio #winSound>
  <source src="assets/sounds/win.mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>

<audio #loseSound>
  <source src="assets/sounds/lose.mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>

<mat-sidenav-container class="container">
  <div class="game-container">

    <div *ngIf="gameStatus === 'playing'">
      <div class="header">
        <div class="title-with-icon">
          <h1 class="game-title">Adivinar la Palabra Oculta</h1>
          <img src="assets/img/signo.png" alt="Logo del juego" class="game-icon">
        </div>
        
        <div class="status">
          <p class="level-info"><span>{{ currentLevel }}</span></p>
          <p class="intent-display">Intentos: <span>{{ maxIncorrectGuesses - incorrectGuesses }}</span></p>
          <p class="word-progress">Palabra <span>{{ currentWordIndex + 1 }}</span> de <span>{{ words.length }}</span></p>
          <p *ngIf="gameStatus === 'playing' || gameStatus === 'time-up'" class="game-timer">
            Tiempo: <span> {{ formatTime(timeRemaining) }}</span> 
          </p>
        </div>
      </div>

      <div class="riddle-wrapper">
        <div *ngIf="activeLevelConfig.level.id === '3c16b66e-0fa4-4ecc-a9ae-41dd832f0bc1' && currentHintImage" class="hint-image-container">
          <img [src]="currentHintImage" alt="Pista de la palabra" class="word-hint-image">
        </div>
        
        <p *ngIf="activeLevelConfig.level.id === '3c16b66e-0fa4-4ecc-a9ae-41dd832f0bc1' && currentHint" class="word-hint">
          Pista: {{ currentHint }}
        </p>

        <p class="word-display">{{ displayWord }}</p>
        
      </div>
    </div>

    <div *ngIf="gameStatus === 'won'" class="game-over-message temporary-won-message">
      <h2>¡Correcto!</h2>
      <p>La palabra era: <strong>{{ secretWord }}</strong></p>
    </div>

    <div *ngIf="gameStatus === 'lost'" class="game-over-message temporary-won-message">
      <h2>¡Incorrecto!</h2>
      <p>La palabra era: <strong>{{ secretWord }}</strong></p>
    </div>

    <div *ngIf="gameStatus === 'level-complete' || gameStatus === 'time-up'" class="game-over-message final-game-over-message">
      <h2 *ngIf="gameStatus === 'level-complete'">¡Juego terminado!</h2>
      <h2 *ngIf="gameStatus === 'time-up'">¡Tiempo agotado!</h2>

      <p *ngIf="gameStatus === 'level-complete' || gameStatus === 'time-up'">
        Adivinaste {{ guessedWordsCount }} de {{ activeLevelConfig.words_level }} palabras.
      </p>

      <p *ngIf="gameStatus !== 'time-up' && gameStatus === 'level-complete'">
        Tiempo transcurrido: {{ formatTime(timeTaken) }}
      </p>

      <div class="stars-display" *ngIf="gameStatus === 'level-complete' || gameStatus === 'time-up' ">
        <h3>Tu Puntuación:</h3>
        <span *ngFor="let i of [0, 1, 2]" class="star" [class.filled]="i < stars">
          &#9733; </span>
      </div>

      <button mat-raised-button color="primary" (click)="resetGame()">
        Jugar de nuevo
      </button>
      <button mat-raised-button color="primary" (click)="options()">
        Volver al menú
      </button>
    </div>
  </div>
</mat-sidenav-container>