<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav-bar">
    <mat-toolbar class="sidenav">
      <div class="menu-header-content">
        <img src="assets/img/Logo11.png" alt="Logo del software educativo" class="logo-sidebar">
        <span class="menu-text">Menú</span>
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <button mat-button class="menu-button" routerLink="/main">
        <mat-icon>person</mat-icon>
        <span>Inicio</span>
      </button>
      <ng-container *ngIf="isAdmin()">
        <button mat-button class="menu-button" routerLink="/admin">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin</span>
        </button>
      </ng-container>
      <button mat-button class="menu-button" routerLink="/grade">
        <mat-icon>person_add</mat-icon>
        <span>Estudiantes</span>
      </button>
      <button mat-button class="menu-button" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Juegos</span>
      </button>
      <button mat-button class="menu-button" routerLink="/progress">
        <mat-icon>timeline</mat-icon>
        <span>Progreso</span>
      </button>
      <button mat-button class="menu-button" routerLink="/chart">
        <mat-icon>bar_chart</mat-icon>
        <span>Gráficas</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="exportData()">
        <mat-icon>download</mat-icon>
        <span>Exportar Data</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> 