<div class="main-container">
    <div class="game-container" (click)="gamesRompecabezas()">
        <h2>
            ROMPECABEZAS
        </h2>
      <img src="assets/img/fondo1.jpg" alt="Juego 1">
    </div>
    <div class="game-container" (click)="gamesMemory()">
        <h2>
            MEMORIA
        </h2>
      <img src="assets/img/memory1.png" alt="Juego 2">
    </div>
    <div class="game-container" (click)="gamesRiddle()">
        <h2>
            ADIVINA LA PALABRA OCULTA
        </h2>
        <img src="assets/img/words.png" alt="Juego 3">
    </div>
  </div>