<!-- Elemento de audio para el sonido de victoria -->
<audio #winSound>
  <source src="assets/sounds/win.mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>

<!-- Elemento de audio para el sonido de derrota -->
<audio #loseSound>
  <source src="assets/sounds/lose.mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>

<mat-sidenav-container class="container">
  <div class="welcome-container">
    <div class="header">
      
      <div class="title-with-icon">
        <h1 class="puzzle-title" *ngIf="!isComplete && timeLeft > 0">
          ¡Que comience la diversión!
        </h1>
        <img *ngIf="!isComplete && timeLeft > 0" 
             src="assets/img/carita1.png" 
             alt="Carita feliz" 
             class="happy-face-icon">
      </div>

      <div class="status" *ngIf="!isComplete && timeLeft > 0">
        <p class="moves">Nivel: <span>{{ currentLevelName }}</span></p>
        <p class="moves">Movimientos: <span>{{ moves }}</span></p>
        <p class="timer">Tiempo: <span>{{ elapsedTime }}</span></p>
      </div>
    </div>

    <div class="puzzle-wrapper">
      <div class="puzzle-container">
        <div
          class="puzzle-grid"
          *ngIf="!isComplete && timeLeft > 0" 
          [style.grid-template-columns]="'repeat(' + cols + ', ' + pieceSize + 'px)'"
          [style.grid-template-rows]="'repeat(' + rows + ', ' + pieceSize + 'px)'"
          [style.width]="(cols * pieceSize) + 'px'"
          [style.height]="(rows * pieceSize) + 'px'">

        <div
          class="puzzle-piece"
          *ngFor="let piece of pieces; let i = index"
          [draggable]="!isComplete && timeLeft > 0"
          (dragstart)="onDragStart($event, i)"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, i)"
          [style.background-image]="'url(' + imageUrl + ')'"
          [style.background-position]="piece.bgPosition"
          [style.background-size]="(cols * pieceSize) + 'px ' + (rows * pieceSize) + 'px'"
          [style.width]="pieceSize + 'px'"
          [style.height]="pieceSize + 'px'"
        ></div>
        </div>

        <div *ngIf="isComplete || timeLeft <= 0" class="game-over-message">
          <h2 *ngIf="isComplete">¡Rompecabezas completado!</h2>
          <h2 *ngIf="!isComplete && timeLeft <= 0">
            ¡Tiempo agotado! ¡Sigue practicando!
          </h2>

          <p>Movimientos: {{ moves }}</p>
          <p>Tiempo restante: {{ elapsedTime }}</p>

          <div class="stars-display">
            <h3>Tu Puntuación:</h3>
            <span *ngFor="let i of [0, 1, 2]" class="star" [class.filled]="i < stars">
              &#9733;
            </span>
          </div>

          <button *ngIf="!isComplete && timeLeft <= 0" (click)="resetGame()">
            Volver a intentar
          </button>
          <button *ngIf="isComplete" (click)="resetGame()">
            Siguiente Nivel
          </button>
          <button *ngIf="isComplete" (click)="restartCurrentLevel()">
            Jugar de nuevo
          </button>
          <button *ngIf="isComplete" (click)="options()">
            Volver al menú
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>