
<audio #winSound>
  <source src="assets/sounds/win.mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>

<!-- Elemento de audio para el sonido de derrota -->
<audio #loseSound>
  <source src="assets/sounds/lose.mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>

<mat-sidenav-container class="container">
  <div class="game-container">
      <div class="header" *ngIf="gameStarted">
        <h2 class="game-title">Juego de Memoria</h2>
        <div class="status" >
          <div class="intent-display">Intentos: <span>{{ intent }}</span></div>
          <div class="time-display">Tiempo: <span>{{ formatTime(elapsedTime) }}</span></div>
        </div>
      </div>


    <div class="memory-wrapper">
      <div class="memory-wrapper">
        <div class="game-board"
          [ngClass]="{'game-board--6-cards': totalPairs === 3}"
          *ngIf="gameStarted && matchedPairs !== totalPairs && !intentExceeded && !timeExceeded">
          <app-memory-card
            *ngFor="let card of cards"
            [card]="card"
            (cardClick)="onCardClick(card)"
          ></app-memory-card>
        </div>

        <!-- Mensaje de fin de juego (Similar al de puzzle) -->
        <div *ngIf="!gameStarted && (matchedPairs === totalPairs || intentExceeded || timeExceeded)" class="game-over-message">
          <h2 *ngIf="matchedPairs === totalPairs">¡Memoria completada!</h2>
          <h2 *ngIf="matchedPairs !== totalPairs && (intentExceeded || timeExceeded)">
            ¡Juego terminado! ¡Sigue practicando!
          </h2>

          <p>Pares encontrados: {{ matchedPairs }} / {{ totalPairs }}</p>
          <p>Tiempo restante: {{ formatTime(elapsedTime) }}</p> <!-- Muestra el tiempo restante -->

          <div class="stars-display">
            <h3>Tu Puntuación:</h3>
            <span *ngFor="let i of [0, 1, 2]" class="star" [class.filled]="i < stars">
              &#9733; <!-- Carácter Unicode de estrella -->
            </span>
          </div>

          <button *ngIf="matchedPairs !== totalPairs && (intentExceeded || timeExceeded)" (click)="resetGame()">
            Volver a intentar
          </button>
          <button *ngIf="matchedPairs === totalPairs" (click)="resetGame()">
            Jugar de nuevo
          </button>
          <button (click)="options()">
            Volver al menú
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>