.container {
  background: rgba(128, 128, 128, 0.402);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.welcome-container {
  width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: #f0f8ffeb;
  padding: 300px; 
  margin: 0 auto; 
}

