<div class="login-container">
    <div class="right-content">
        <h1>BIENVENIDOS A UN MUNDO MÁGICO</h1>
        <h2>¡Juega, aprende y gana!</h2>
        <div class="login-box">
            <form>
                <div>
                    <button type="submit" class="login-button" (click)="jugar()">JUGAR</button>
                </div>
                <div>
                    <button type="submit" class="login-button" (click)="administrador()">PANEL ADMINISTRATIVO</button>
                </div>
            </form>
        </div>
    </div>
</div>