body {
  background-image: url('assets/gif/fondo4.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
